		* {
			box-sizing: border-box;
		}

		h1 {
			margin-bottom: 15px;
			text-align: center;
		}
		
		div > div{
			padding: 0px;
			background-color: #DADADA;
			border:1px solid black;
		}

		div>.sct {
			float:right;
			position: relative;
			font-size: 30px;
			width: 150px;
			height: 40px;
			font-weight: bold;	
			text-align: center;		
			margin-bottom: 20px;
		}

		#item1 {
			background-color: #ffff00;
		}
		#item2 {
			background-color: #00ffff;
		}
		#item3 {
			background-color: #ff00ff;
		}

		p {					
			clear:both;	
			width: 90%;
			height: auto;
			margin-right: auto;
			margin-left: auto;
			margin-top: 10px;
			margin-bottom: 50px;
			font-family: Helvetica;
			color: black;
			padding: 2px;
		}
		/****** simple responsive framework ***/
		.row {
			padding: 10px;
			width: 100%
		}

		@media (min-width: 992px) {
			.col-lg-4 {
				float: left;
				border: 1px solid black;				
				margin-left: 5%;
				
			} 			
			.col-lg-4 {width: 25%;}			
		}

		@media (min-width: 768px) and (max-width: 991px) {
			.col-md-6, .col-md-12 {
				float: left;
				border: 1px solid black;
				margin-left: 10%;
				margin-bottom: 30px;
			} 
			.col-md-6 {width: 30%;}
			.col-md-12 {width: 70%;}
		}

		@media (max-width: 767px) {
			.col-sm-12 {	
				clear:left;			
				border: 1px solid black;
				margin-left: 5%;	
				margin-top: 50px;			
			}	
			.col-sm-12 {width: 90%;}
		}